
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'MinhaFonte';
  src: url('Fonts/esthetique.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

:root {
    --fonte-primaria: "Montserrat", sans-serif;
    --cor-primaria: rgb(8, 19, 51);
    --cor-botao: #94d0ad;
    --cor-titulos: #db8c98;
}
 
html, body { height: 100%; }

body {
  background-color: var(--cor-primaria);
  font-family: var(--fonte-primaria);
  color:var(--fonte-primaria);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 

main {
  flex-grow: 1
}

.cabecalho {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div-cabecalho { 
  margin: 2rem 0 2em 0;
  color: var(--cor-primaria);

}


.logo-cabecalho {
  width: 200px;
  height: 105px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.5em;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo_principal {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1em 0 0.5em 0;  
}

.video-container {
  position: fixed;  /* O vídeo fica fixo na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca o vídeo atrás de todo o conteúdo */
    overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 100%;
  transition: opacity 1s ease;
}

.catalogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap : 1em;  
  margin: 1em;
}

.titulos_secoes {
  font-size: 1rem;
  font-weight: 700;
  color: var(--cor-titulos);
  background-color: (var(--cor-primaria),0.3);
  border-radius: 15px;
  padding: 0.5em;
}

.botao-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--cor-botao);
  border: 1px solid var(--cor-botao);
  border-radius: 3em;
  padding: 1.2em;
  color: var(--cor-primaria);
  text-decoration: none;
  font-weight: 500;
  margin: 0 auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-link img {
  height: 35px;
  flex-shrink: 0;
}

.botao-link span {
  flex-grow: 1;
  text-align: center;
}

.botao-link:active {
  transform: scale(0.95);  /* Diminui o tamanho do botão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adiciona uma sombra ao clicar */
}


footer { 
  text-align: center;
}

.logo-footer {
  width: 70px;
  height: 70px;
}

.paragrafo-footer {
  margin: 1em;
  font-size: 12px;
}

@media (max-width: 1200px) {
  /* Ajustes para telas grandes (ex: laptops) */
  .catalogos {
    margin: 2em;
  }

  .botao-link {
    padding: 1em;
    font-size: 0.9rem;
  }

  .titulo_principal {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  /* Ajustes para tablets e dispositivos médios */
  .titulo_principal {
    font-size: 1rem;
  }

  .botao-link {
    padding: 1em;
    font-size: 1rem;
    width: 80%;
  }

  .catalogos {
    margin: 2em;
  }

  .instagram {
    padding: 2em;
  }
}

@media (max-width: 480px) {
 
.paragrafo_principal {
  margin: 0 3em 0 3em;
  font-size: 15px;
}

}

.botao-link {
  width: 90%;
  font-size: 15px;
  text-align: center;
}


/* ---------------animacoes------------------ */


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
.video-container {
  animation: fadeIn 3s ease-in-out;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%); /* Começa fora da tela, no topo */
    opacity: 0; /* Invisível no início */
  }
  to {
    transform: translateY(0); /* Chega na posição original */
    opacity: 1; /* Fica visível */
  }
}

.div-cabecalho {
  animation: slideFromTop 2s ease-out; /* Duração de 1s */
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%); /* Começa fora da tela, embaixo */
    opacity: 0; /* Invisível no início */
  }
  to {
    transform: translateY(0); /* Chega na posição original */
    opacity: 1; /* Fica visível */
  }
}

.links {
  animation: slideFromBottom 2s ease-out; /* Duração de 1s */
}

footer {
  animation: slideFromBottom 2s ease-out;
}
