
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-primaria: "Montserrat", sans-serif;
    --cor-primaria: #081434;
    --cor-botao: #94d0ad;
    --cor-titulos: #db8c98;
}
 
body {
  background-color: var(--cor-primaria);
  font-family: var(--fonte-primaria);
  color:var(--cor-titulos);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 

.cabecalho {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div-cabecalho { 
  margin: 2rem 0 2em 0;
}

.titulo_principal {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1em 0 0.5em 0;  
}

.video-container {
  width: 80%;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap : 1em;  
  margin: 1em;
}

.botao-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--cor-botao);
  border: 1px solid var(--cor-botao);
  border-radius: 3em;
  padding: 1.2em;
  color: var(--cor-primaria);
  text-decoration: none;
  font-weight: 500;
  margin: 0 auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-link img {
  height: 35px;
  flex-shrink: 0;
}

.botao-link span {
  flex-grow: 1;
  text-align: center;
}

.botao-link:active {
  transform: scale(0.95);  /* Diminui o tamanho do botão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adiciona uma sombra ao clicar */
}

.instagram {
  padding: 3em;
}

.elfsight-app-5d260a3f-4126-47db-90d6-5e6998952753{
  border: solid 12px var(--cor-botao);
  border-radius: 3em;
}

.paragrafo-footer {
  margin: 1em;
  font-size: 12px;
}

@media (max-width: 1200px) {
  /* Ajustes para telas grandes (ex: laptops) */
  .catalogos {
    margin: 2em;
  }

  .botao-link {
    padding: 1em;
    font-size: 0.9rem;
  }

  .titulo_principal {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  /* Ajustes para tablets e dispositivos médios */
  .titulo_principal {
    font-size: 1rem;
  }

  .botao-link {
    padding: 1em;
    font-size: 1rem;
    width: 80%;
  }

  .catalogos {
    margin: 2em;
  }

  .instagram {
    padding: 2em;
  }
}

@media (max-width: 480px) {
 
.paragrafo_principal {
  margin: 0 3em 0 3em;
  font-size: 15px;
}

}

.botao-link {
  width: 90%;
  font-size: 15px;
  text-align: center;
}

.video-container{
  max-height: 200px;
}

